<header>

  <div class="Home-Text">

    <h1> Contacts App </h1>
    <h3 style="font-size: 22px;"> Manage your contacts now! </h3>
    <a href="/authentication/register"> Get Started </a>

  </div>

</header>