<div class="Contact">

    <div class="Contact-Presentation-Box">
        <div class="Contact-Presentation">
            <h2> Welcome {{username}} </h2>

            <button type="submit"> <a href="/profile/add"> Add a new contact </a></button>
        </div>
    </div>

    {{> Contact-Data}}

</div>